// Fonts Styes
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --back: #000;
  --gray: #2b2e3a;
  --gsap: "gsap", sans-serif;
}
@font-face {
  font-family: "gsap";
  src: url("/Fraktion.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "inter", sans-serif;
  scroll-behavior: smooth;
  letter-spacing: -0.05em;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  max-width: 1450px;
  padding: 0 20px;
  position: relative;
  margin: 0 auto;
}

.nav {
  height: 450px;
  width: 320px;
  background-color: #000;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  border: none;
}
.menu {
  position: absolute;
  width: 100px;
  height: 40px;
  right: 15px;
  top: 15px;
  display: block;
  outline: 2px solid black;
  text-transform: uppercase;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  color: rgb(0, 0, 0);
  &.open {
    background-color: red;
    color: white;
    &::before,
    &::after {
      background-color: white;
    }
  }
  transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  &.active {
    right: 0;
    top: 0;
    transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
  &:hover {
    &::after,
    &::before {
      position: absolute;
      content: "";
      transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
    }
    &::before {
      transform: translateX(-10px) translateY(5px);
    }
    &::after {
      transform: translateY(-5px);
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    right: 15px;
    top: 40%;
    background-color: red;
    border-radius: 50px;
    transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    right: 25px;
    top: 40%;
    background-color: red;
    border-radius: 50px;
    transition: 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  }

  align-items: center;
  .label {
    position: relative;
    width: 40%;
    height: 50%;
    span {
      position: absolute;
      top: 0;
    }
  }
}

.navLinks {
  li {
    position: relative;
    &:hover {
      &::after {
        transition: 0.3s cubic-bezier(0.65, 0, 0.35, 1);
        content: "";
        position: absolute;
        transform: translateX(40px);
        opacity: 1;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50px;
      top: 50%;
      right: 10px;
      opacity: 0;
    }
    &:nth-child(2) {
      position: relative;
      &::before {
        content: "(12)";
        position: absolute;
        right: -30px;
        top: -15px;
        color: rgb(255, 255, 255);
        font-size: 15px;
      }
    }
  }
}
.highlight {
  position: relative;
  display: inline-block;
  font-weight: 400;
  padding: 0 10px;
  color: #000;
  &:hover {
    color: white;
  }

  &:nth-child(1) {
    z-index: 9;
    transition: 0.6s cubic-bezier(0.65, 0, 0.35, 1);
  }
  span:nth-child(2) {
    position: absolute;
    height: 8px;
    left: 0;
    z-index: -1;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(red, red);
    transition: 0.6s cubic-bezier(0.65, 0, 0.35, 1);
    color: white;
    @media (max-width: 845px) {
      height: 5px;
    }
  }
}

.highlight:hover .bar {
  height: 100%;
  transition: 0.6s cubic-bezier(0.65, 0, 0.35, 1);
}

.bar {
  width: 10vw;
  height: 105vh;
  background-color: black;
}
.loading {
  span {
    font-size: 8rem;
    color: white;
  }
}

.gsap {
  font-family: "gsap";
}

.works {
  position: relative;
  overflow: hidden;
  // border: 1px solid black;
  outline: 1px solid black;
}
