---
import MainLayout from '../layouts/MainLayout.astro';
import {Nav} from '../components/Nav'
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Work from '../components/Work.astro';

---

<MainLayout title="Welcome to Astro.">
	<main class="px-5">
		<Hero />	
		<About />
		<Work />
	</main>
</MainLayout>



