---
import MainLayout from '../layouts/MainLayout.astro';
import {Nav} from '../components/Nav'
import Hero from '../components/Hero.astro';

---

<MainLayout title="Welcome to Astro.">
	<main>
		<Hero />
	</main>
</MainLayout>



