---
import { getCollection } from "astro:content";

const allWorks = await getCollection("work")

---


<div>
    <ul>
        {allWorks.map((link)=>(

        <li>{link} </li>
        ))}
    </ul>
</div>