---

const {title} = Astro.props
---

<div class="flex justify-center flex-col items-center max-w-7xl mx-auto">
        <h1 class="lg:text-big leading-1 font-extrabold relative title text-center">
           About me
        </h1>
       
</div>



