---
interface Props {
	title: string;
}
import { Nav } from '../components/Nav';
const { title } = Astro.props;
import '../styles/global.scss'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
	</head>
	<body>
		<Nav client:load />
		<slot />
	</body>
</html>
